body {
    background-color: #C3E870;
    .logobar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: 'Redressed', cursive;
        .sublime {
            font-size: 45px;
        }

    }
    .brandHeader {
        color: #F8FFB0;
        

    }
    
}